---
import { projects } from "../../content/data/projects.json"
import Project from "../molecules/Project.astro"
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {
    projects.map((project) => {
      const custom = project.custom || {}
      return (
        <Project
          title={project.title}
          company={project.company}
          description={project.description}
          href={project.link}
          langs={project.langs}
          tools={project.tools}
          date={project.date}
          skills={project.skills}
        />
      );
    })
  }
</div>
